body {
	background: url(http://theoldnewbie.github.io/my_test_site/images/bg.jpg);
	margin:0px;
	padding:0px;
	font: 12px verdana, arial, helvetica;
    color: #cdcaca;
}

p{
	margin:0px;
	padding:0 0 5px 0;
	line-height:17px;
	text-align:justify;
}

p.tab{
	padding: 10px 0 10px 0;
	font-size: 11px;
}

h1{
color:#151515;
font-size:12px;
font-weight:bold;
margin:0px;
padding:5px 0 5px 0;
}

h2{
color:#151515;
font-size:14px;
font-weight:bold;
margin:0px;
padding:10px 0 10px 0;
}

#main_container {
	width: 894px;
    height: auto;
    margin: auto;
    background-color: #2c2a2b;
}

#header {
    width: 894px;
    height: 91px;
    margin: auto;
}
#logo {
    padding: 15px 0 0 0;
    float: left;
}
/*menu*/
#menu {
    width: 460px;
    height: 24px;
    float: right;
    padding: 45px 0 0 0;
}

#menu ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: block;
    font-weight: bold;
}

#menu ul li.divider{
	height:24px;
	width:19px;
}

#menu ul li{
	list-style:none;
	display:inline;
	float:left;
	width:auto;
	height:24px;
	padding:0px;
	line-height:32px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
}

#menu ul li a{
	height: 24px;
    width: auto;
    float: left;
    text-decoration: none;
    padding: 0 8px 0 8px;
    margin: 0px;
    color: #bcb8b7;
    text-align: center;
}

#menu ul li a:hover{
	height:24px;
	width: auto;
	text-decoration:none;
	color: #bcb8b7;
}

#menu ul li a.current{
	height:24px;
	width: auto;
	float:left;
	text-decoration:none;
	padding:0 8px 0 8px;
	color: #bcb8b7;
}

#middle_box{
	width:894px;
	height:278px;
	clear:both;
	margin: auto;
	background:url(http://theoldnewbie.github.io/my_test_site/images/middle_banner.png) no-repeat center;
}

.title{
height:26px;
font-size:16px;
font-weight:bold;
padding:5px 0 0 35px;
color:#bcb8b7;
background:url(http://theoldnewbie.github.io/my_test_site/images/news_icon.gif) no-repeat left;
background-position:0px 0px;
}

a.read_more {
width:150px;
height:27px;
display:block;
background:url(http://theoldnewbie.github.io/my_test_site/images/view_all_bg.gif) no-repeat center;
line-height:27px;
color:#010101;
font-size:11px;
font-weight:bold;
text-decoration:none;
text-align:center;
float:right;
margin:15px 0 15px 0;
}
/*main content*/
#main_content{
width:894px;
height: auto;
margin: auto;
padding:0 0 0 10px 0;
}

.left_content{
width:480px;
height:auto;
float:left;
padding:10px 10px 15px 0;
}

.right_content{
width:390px;
height:auto;
float:left;
padding:10px 0 0 10px;
}

.news_tab{
padding:10px 0 5px 0;
margin:0px;
text-align:justify;
line-height:14px;
border-bottom:1px #cdcaca dashed;
}

.news_details{
padding:5px 0 0 0;
text-align:right;
font-size:11px;
font-weight:bold;
}

span.date{
color:#cdcaca;
}

span.user{
color:#cdcaca;
}

.clear{
clear:both;
}

/*accordion*/
#basic_accordion{
padding:0px;
width:478px;
height:500px;
}

.accordion_headings{
width:468px;
height:26px;
padding:10px 0 0 10px;
background:url(http://theoldnewbie.github.io/my_test_site/images/tab_bg.gif) no-repeat center;
color:#444948;
cursor:pointer;
font-weight:bold;
margin:0 0 4px 0;
}

.accordion_headings:hover{
color:#444948;
}

.accordion_child{
padding:0px;
}

.header_highlight{
color:#444948;
}

/*footer*/
#footer{
width:894px;
height:28px;
color: #cdcaca;
border-top:1px #cdcaca dashed;
}

.footer_links{
float:right;
padding-right:20px;

}
